{% extends 'base.html.twig' %}

{% block title %}Eyes Contact | Accueil{% endblock %}

{% block body %}

<div class="home-content">
    <div class="slideshow">
        <ul id="sContent">
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide01.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide02.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide03.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide04.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide05.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide06.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide07.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide08.jpg')}}" alt="slide01"></li>
            <li><img class="slide-header" src="{{ asset('images/slide-media/slide09.jpg')}}" alt="slide01"></li>
        </ul>
    </div>
</div>
{% endblock %}
