{% extends 'base.html.twig' %}

{% block title %}Eyes Contact - Backoffice{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('backoffice-pages-addUpdate-form') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('backoffice-pages-addUpdate-form') }}
{% endblock %}

{% block body %}
    {{include('backoffice/components/_topbar.html.twig')}}
    {{include('backoffice/components/_sidebar.html.twig')}}

    <main>
        <div id="backoffice-pageHero">
            <h1>Ajouter une variation</h1>
            <h2>Ajouter une nouvelle variation d'un produit</h2>
            <div class="separator_xl"></div>
        </div>

        <div id="mainContent">
            <div class="adding_form">
                <form action="" method="post">
                    <label>Produit associé
                        <input id="relatedProduct" type="text" name="relatedProduct">
                    </label>
                    <label>Type de variation
                        <input id="variationType" type="text" name="variationType">
                    </label>
                    <label>Valeur
                        <input id="variationValue" type="text" name="variationValue">
                    </label>
                    <label>Poids
                        <input id="weight" type="text" name="weight">
                    </label>
                    <label>Prix
                        <input id="price" type="text" name="price">
                    </label>
                    <label class="descriptionField">Description du produit
                        <textarea id="description" name="description" rows="10"></textarea>
                    </label>
                    <br>
                    <input type="submit" value="Ajouter"/>
                </form>
            </div>
        </div>
    </main>

    <script>
        //Classe active sur la bonne rubrique
        let myMenu = document.querySelectorAll("#backoffice_sidebar_mainMenu ul li");
        myMenu[0].classList.remove("active")
        myMenu[2].classList.add("active")
    </script>

{% endblock %}
