{% extends 'base.html.twig' %}

{% block title %} {{title}} | Eyes Contact{% endblock %}

{% block body %}
{# <pre>
    {{ dump(data) }}
</pre> #}

{% include 'navbar/index.html.twig'%}

<div class="hero w-full h-72 flex " style="background :  url(' {{asset(url_hero) }}') ; background-repeat: no-repeat; background-position: center center;
    background-size:cover; ">
    <div class="container mx-auto my-auto">
        <h1>{{ title }}</h1>
    </div>

</div>

<div class="container mx-auto mt-14">

    <div class="flex justify-start gap-4">
        <div class="flex">
            <div class="mb-3 xl:w-96">
                <select class="form-select appearance-none block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-footer focus:outline-none" aria-label="Default select example">
                    <option selected> Trier par </option>
                    <option value="1">Prix croissant</option>
                    <option value="2">Prix décroissant</option>
                </select>
            </div>
        </div>

        <div class="flex ">
            <div class="mb-3 xl:w-96">
                <select class="form-select appearance-none block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-footer focus:outline-none" aria-label="Default select example">
                    <option selected>Couleur</option>
                    <option value="1">Rouge</option>
                    <option value="2">Bleu</option>
                    <option value="3">Noir</option>
                    <option value="3">Or</option>
                </select>
            </div>
        </div>
    
    </div>

    <div class="main-tab">
        {% for product in data %}
            <div class="card">
                <a href="{{path('app_product_show', {id: 1})}}">
                    <img class="card-tab" src="{{ asset('images/product-images/Lentilles/lentille01.jpg')}}" alt="lentille01">
                    <h2 class="title-card">{{ product.name }}</h2>
                    <p class="price">{{ product.prix }}€</p>
                </a>
                <button class="btn-card" type="submit">Ajouter</button>
            </div>
        {% endfor %}
    </div>
</div>

{% include 'footer/footer.html.twig'%}
{% endblock %}
